body {
    font-family: Arial;
    background: #eef;
    text-align: center;
}

.container {
    width: 400px;
    margin: auto;
    padding: 20px;
}

#forecastBox .day {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}
